@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: oklch(0.21 0.034 264.665);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pagination-button {
  font-size: 2px;
  color: #fff;
  background-color: #333;
  margin: 12px;
  padding: 10px;
  border-radius: 50%;
}

.pagination-button:hover {
  cursor:pointer;
}

@media (max-width: 640px) {
  .swiper-button-prev,
  .swiper-button-next {
      display: none !important;
  }

  .pagination-button {
    margin: 8px;
    padding: 6px;
  }
}

.swiper-pagination {
  margin-top: 3rem !important;
  position: relative !important;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background-color: #6b7280 !important;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

.snow {
  position: absolute;
  width: 3px;
  height: 9px;
  border-radius: 50%;
  background: linear-gradient(30deg, #2345a3, #2563eb, #60a5fa, #93c5fd, #dde6ec);
  box-shadow: 0 0 5px rgba(206, 196, 196, 0.8);
  animation: falling linear infinite;
  animation-delay: 2s; /* Add delay before animation starts */
  opacity: 0; /* Start invisible */
} 

@keyframes falling {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(500px);
    opacity: 0;
  }
}

@keyframes rainbow-glow {
  0%,
  100% {
    box-shadow: 0 0 12px 3px rgba(239, 68, 68, 0.6);
  }
  16% {
    box-shadow: 0 0 12px 3px rgba(234, 179, 8, 0.6);
  }
  33% {
    box-shadow: 0 0 12px 3px rgba(34, 197, 94, 0.6);
  }
  50% {
    box-shadow: 0 0 12px 3px rgba(59, 130, 246, 0.6);
  }
  67% {
    box-shadow: 0 0 12px 3px rgba(99, 102, 241, 0.6);
  }
  84% {
    box-shadow: 0 0 12px 3px rgba(168, 85, 247, 0.6);
  }
}

.animate-rainbow-glow {
  animation: rainbow-glow 5s linear infinite;
}