@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.pagination-button {
  font-size: 1px;
  color: #fff;
  background-color: #333;
  margin: 12px;
  padding: 10px;
  border-radius: 50%;
}

.pagination-button:hover {
  cursor:pointer;
}

@media (max-width: 640px) {
  .swiper-button-prev,
  .swiper-button-next {
      display: none !important;
  }

  .pagination-button {
    margin: 8px;
    padding: 6px;
  }
}