/* Carousel Pagination Styles */
.swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
  background-color: rgba(255, 255, 255, 0.4) !important;
  opacity: 1 !important;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: rgb(255, 255, 255) !important;
  transform: scale(1.25);
}

.swiper-pagination-bullet:hover {
  background-color: rgba(255, 255, 255, 0.6) !important;
}
